.row
  .col
    .page-header
      %h1
        #{@note.noted_at}
        %small
          = link_to "#{@note.body.nickname}さんのメモ", body_notes_path(@note.body)
.row
  .col
    - if @note.picture?
      = image_tag @note.picture.url, class: 'img-fluid'
    - else
      .card.card-body.bg-light.mb-3
        画像なし
  .col
    = simple_format @note.detail
    = link_to '編集', edit_body_note_path(@note.body, @note), class: 'btn btn-primary'
